body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #f0f4f7, #e1edf3);
  color: #333;
}

header {
  background: #fffcfc;
  color: #fff;
  padding: 5px;
  text-align: center;
}

.header-content img {
  margin-top: 50px;
  display: block;
  margin: 0 auto 10px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
}

.burger {
  margin-top: 20px;
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.burger span {
  display: block;
  width: 25px;
  height: 3px;
  background: #333;
  transition: 0.3s;
}


#mobile-menu {
  display: none;
  position: absolute;
  top: 100px;
  right: 0;
  background: #fff;
  width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#mobile-menu ul {
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

#mobile-menu ul li {
  margin: 0;
}

#mobile-menu ul li a {
  display: block;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
}

#mobile-menu ul li a:hover {
  background: #f0f4f7;
}

@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  nav {
    display: none;
  }
}


h2 {
  margin: 20px 0;
  color: #222;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product {
  background: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.product img {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.product h3 {
  margin: 10px 0;
}

.product p {
  margin: 10px 0;
}

.product button {
  background: #0078d7;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.product button:hover {
  background: #005fa3;
}

.cart {
  margin-top: 20px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cart ul {
  list-style: none;
  padding: 0;
}

.cart ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart ul li button {
  background: #d32f2f;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.cart ul li button:hover {
  background: #b71c1c;
}

.total {
  font-weight: bold;
  font-size: 1.2rem;
}
